<header class="site-header" role="banner">
    <div id="mySidenav" class="sidenav" onmouseover="openNav()" onmouseout="closeNav()">
        <a href="#"><i class="fas fa-user-astronaut"></i><span class="menu-text">About</span></a>
        <a href="#"><i class="fas fa-code"></i><span class="menu-text">Services</span></a>
        <a href="#"><i class="fas fa-user-tie"></i><span class="menu-text">Clients</span></a>
        <a href="#"><i class="fas fa-paper-plane"></i><span class="menu-text">Contact</span></a>
    </div>
</header>